             body {
                 width: 21.6cm;
                 height: 28cm;
                 border: #000000;
             }
             
             .h1 {
                 width: 796.8px;
                 height: 144px;
                 top: 0px;
                 left: 0px;
             }
             
             #logoh {
                 position: relative;
                 width: 183px;
                 height: 51px;
                 left: 79px;
                 top: 32px;
             }
             
             #codbarras {
                 position: absolute;
                 width: 113px;
                 height: 47px;
                 left: 581px;
                 top: 36px;
             }
             
             .nom {
                 position: absolute;
                 width: 285px;
                 height: 21px;
                 left: 69px;
                 top: 117px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 19px;
                 color: #002329;
             }
             
             .nombreP {
                 position: absolute;
                 width: 285px;
                 height: 21px;
                 left: 139px;
                 top: 117px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 19px;
                 color: #002329;
             }
             
             .exa {
                 position: absolute;
                 width: 173px;
                 height: 19px;
                 left: 554px;
                 top: 115px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 19px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .numexa {
                 position: absolute;
                 width: 173px;
                 height: 19px;
                 left: 694px;
                 top: 115px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 19px;
                 /* identical to box height */
                 color: #000000;
             }
             
             #linea1 {
                 position: absolute;
                 width: 708px;
                 height: 0px;
                 left: 44px;
                 top: 144px;
                 border: 1px solid #000000;
             }
             
             .doc {
                 position: absolute;
                 width: 227px;
                 height: 16px;
                 left: 69px;
                 top: 161px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .documento {
                 position: absolute;
                 width: 227px;
                 height: 16px;
                 left: 179px;
                 top: 161px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .edad {
                 position: absolute;
                 width: 97px;
                 height: 16px;
                 left: 69px;
                 top: 194px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .numedad {
                 position: absolute;
                 width: 97px;
                 height: 16px;
                 left: 119px;
                 top: 194px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .servi {
                 position: absolute;
                 width: 222px;
                 height: 16px;
                 left: 69px;
                 top: 227px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .med {
                 position: absolute;
                 width: 240px;
                 height: 16px;
                 left: 69px;
                 top: 260px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .nomMed {
                 position: absolute;
                 width: 240px;
                 height: 16px;
                 left: 129px;
                 top: 260px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .ferem {
                 position: absolute;
                 width: 202px;
                 height: 16px;
                 left: 540px;
                 top: 161px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .lafecha {
                 position: absolute;
                 width: 202px;
                 height: 16px;
                 left: 670px;
                 top: 161px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .feimp {
                 position: absolute;
                 width: 212px;
                 height: 16px;
                 left: 540px;
                 top: 194px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             .lafechaimp {
                 position: absolute;
                 width: 212px;
                 height: 16px;
                 left: 670px;
                 top: 194px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 14px;
                 line-height: 16px;
                 color: #000000;
             }
             
             #linea2 {
                 position: absolute;
                 width: 708px;
                 height: 0px;
                 left: 44px;
                 top: 293px;
                 border: 1px solid #000000;
             }
             
             #linea3 {
                 position: absolute;
                 width: 708px;
                 height: 0px;
                 left: 44px;
                 top: 328px;
                 border: 1px solid #000000;
             }
             
             .estudio {
                 position: absolute;
                 width: 158px;
                 height: 19px;
                 left: 68px;
                 top: 311px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 16px;
                 line-height: 19px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .resultado {
                 position: absolute;
                 width: 87px;
                 height: 19px;
                 left: 352px;
                 top: 311px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 16px;
                 line-height: 19px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .unidades {
                 position: absolute;
                 width: 76px;
                 height: 19px;
                 left: 626px;
                 top: 311px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 16px;
                 line-height: 19px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .tipo {
                 position: absolute;
                 width: 111px;
                 height: 23px;
                 left: 69px;
                 top: 361px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 20px;
                 line-height: 23px;
                 color: #000000;
             }
             
             .cri1 {
                 position: absolute;
                 width: 140px;
                 height: 21px;
                 left: 69px;
                 top: 401px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .cri2 {
                 position: absolute;
                 width: 121px;
                 height: 21px;
                 left: 69px;
                 top: 439px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .cri3 {
                 position: absolute;
                 width: 81px;
                 height: 21px;
                 left: 69px;
                 top: 477px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .res1 {
                 position: absolute;
                 width: 25px;
                 height: 21px;
                 left: 386px;
                 top: 401px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .res2 {
                 position: absolute;
                 width: 25px;
                 height: 21px;
                 left: 386px;
                 top: 439px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .res3 {
                 position: absolute;
                 width: 25px;
                 height: 21px;
                 left: 386px;
                 top: 477px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .uni1 {
                 position: absolute;
                 width: 74px;
                 height: 21px;
                 left: 626px;
                 top: 401px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .uni2 {
                 position: absolute;
                 width: 74px;
                 height: 21px;
                 left: 626px;
                 top: 439px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .uni3 {
                 position: absolute;
                 width: 74px;
                 height: 21px;
                 left: 626px;
                 top: 477px;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: normal;
                 font-size: 18px;
                 line-height: 21px;
                 /* identical to box height */
                 color: #000000;
             }
             
             .footer {
                 position: absolute;
                 width: 708px;
                 height: 82px;
                 left: 44px;
                 top: 977px;
             }