body {
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    /* Página laboratorio médico/10 */
    background: #E6FFFB;
}

#logoh {
    position: absolute;
    width: 195px;
    height: 51px;
    left: 61px;
    top: 6px;
}

#bannerC {
    position: absolute;
    width: 111px;
    height: 57px;
    left: 1684px;
    top: 3px;
}

.subhC {
    position: absolute;
    width: 1920px;
    height: 48px;
    left: 0px;
    top: 67.05px;
    background: #36CFC9;
}

.contenedor {
    position: absolute;
    width: 1434px;
    height: 100%;
    left: 409px;
    top: 176px;
    background: #36CFC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.consultas {
    position: absolute;
    width: 298px;
    height: 965px;
    left: 0px;
    top: 115px;
    /* Página laboratorio médico/60 */
    background: #13C2C2;
}

.barra {
    position: absolute;
    width: 212px;
    height: 46px;
    left: 43px;
    top: 19px;
    /* Typography Laboratorio/Headers/H1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height, or 121% */
    display: flex;
    align-items: center;
    /* Neutral / 1 */
    color: #FFFFFF;
}

.botbarra {
    width: 175px;
    height: 38px;
    background: transparent;
    border: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height, or 127% */
    display: flex;
    align-items: center;
    color: #E6FFFB;
}

#cant {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 115px;
}

#med {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 155px;
}

#pac {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 195px;
}

#exa {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 235px;
}

#cost {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 275px;
}

#ano {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 315px;
}

#tipo {
    position: relative;
    width: 176px;
    height: 38px;
    left: 61px;
    top: 355px;
}