body {
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
    /* Página laboratorio médico/10 */
    background: #E6FFFB;
}

#logoh {
    position: absolute;
    width: 195px;
    height: 51px;
    left: 61px;
    top: 6px;
}

#bannerM {
    position: absolute;
    width: 111px;
    height: 57px;
    left: 1684px;
    top: 3px;
}

.subhM {
    position: absolute;
    width: 1920px;
    height: 48px;
    left: 0px;
    top: 67.05px;
    background: #36CFC9;
}

.contenedor {
    position: absolute;
    overflow-y: scroll;
    width: 836px;
    height: 698px;
    left: 543px;
    top: 141px;
    background: #36CFC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editarmed {
    position: absolute;
    width: 238px;
    height: 40px;
    left: 540px;
    top: 23px;
    /* Cyan / 7 */
    background: #08979C;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    /* drop-shadow / button-primary */
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Character / Primary(inverse) */
    color: #FFFFFF;
    cursor: pointer;
}

.editarmed:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

.eliminarmed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    width: 138px;
    height: 40px;
    left: 672px;
    top: 23px;
    /* Cyan / 7 */
    background: #08979C;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    /* drop-shadow / button-primary */
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Character / Primary(inverse) */
    color: #FFFFFF;
    cursor: pointer;
}

.eliminarmed:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

.salida {
    position: absolute;
    width: 124px;
    height: 22px;
    left: 300px;
    top: 14px;
    /* Typography Laboratorio/Medium/Body Medium Mark */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/100 */
    color: #002329;
}

.h3 {
    position: relative;
    top: 13px;
    left: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* or 127% */
    display: flex;
    align-items: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.nombreMed {
    position: absolute;
    width: 180px;
    height: 32px;
    left: 24px;
    top: 27px;
    /* Typography Laboratorio/Headers/H3 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    display: flex;
    text-align: left;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.pacienteM {
    position: relative;
    width: 836px;
    height: 105px;
    top: 50px;
    left: 0px;
}

.docmed {
    position: absolute;
    width: 90px;
    height: 22px;
    left: 250px;
    top: 32px;
    /* Typography Laboratorio/Regular/Body Regular */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.consul {
    position: absolute;
    width: 90px;
    height: 22px;
    left: 405px;
    top: 32px;
    /* Typography Laboratorio/Regular/Body Regular */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

#busquedamed {
    position: relative;
    width: 486px;
    height: 29px;
    left: 0px;
    top: 10px;
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

.botbuscar {
    position: relative;
    width: 86px;
    height: 29px;
    left: 20px;
    top: 10px;
    background: #08979C;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    /* drop-shadow / button-primary */
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Character / Primary(inverse) */
    color: #FFFFFF;
    cursor: pointer;
}

.botbuscar:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

input:focus {
    border-color: #006D75;
    box-shadow: 0 1px 1px #08979C inset, 0 0 8px #08979C;
    outline: 0 none;
}

::placeholder {
    /* Subheading 16 / regular */
    position: relative;
    width: 466px;
    height: 24px;
    left: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.linea {
    position: relative;
    top: 0px;
}

.agregarmed {
    position: absolute;
    left: 672px;
    top: 11px;
    width: 138px;
    height: 40px;
    /* Cyan / 7 */
    background: #08979C;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    /* drop-shadow / button-primary */
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Character / Primary(inverse) */
    color: #FFFFFF;
    cursor: pointer;
}

.agregarmed:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

.nombre {
    position: absolute;
    width: 180px;
    height: 22px;
    left: 24px;
    top: 140px;
    /* Typography Laboratorio/Headers/H3 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height, or 133% */
    display: flex;
    text-align: center;
    align-items: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.doc {
    position: absolute;
    width: 90px;
    height: 22px;
    left: 240px;
    top: 140px;
    /* Typography Laboratorio/Regular/Body Regular */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.con {
    position: absolute;
    width: 90px;
    height: 22px;
    left: 370px;
    top: 140px;
    /* Typography Laboratorio/Regular/Body Regular */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.nomadminM {
    position: absolute;
    width: 64px;
    height: 28px;
    left: 1713px;
    top: 75px;
    /* Typography Laboratorio/Headers/H4 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
    cursor: pointer;
}

.botlogout {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1819px;
    top: 9px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.botlogout:hover {
    color: #002329;
    transform: scale(1.1);
    filter: invert(0.8);
}

#oficina {
    position: absolute;
    left: 82px;
    top: 15px;
}

.botvolver {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 25px;
    top: 2px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.botvolver:hover {
    color: #002329;
    transform: scale(1.1);
}