body {
    background-size: cover;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Página laboratorio médico/10 */
    background: #E6FFFB;
}

#logoh {
    position: absolute;
    width: 195px;
    height: 51px;
    left: 61px;
    top: 6px;
}

#bannerP {
    position: absolute;
    width: 111px;
    height: 57px;
    left: 1684px;
    top: 3px;
}
.nomperfil {
    position: relative;
    top: -20px;
    left: 1700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    display: flex;
    align-items: center;
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.subhP {
    position: absolute;
    width: 1920px;
    height: 48px;
    left: 0px;
    top: 67.05px;
    background: #36CFC9;
}

#carPac {
    position: absolute;
    width: 1920px;
    height: 347.73px;
    left: 0px;
    top: 100.63px;
}

#footerp {
    position: absolute;
    width: 1920px;
    height: 197px;
    left: 0px;
    top: 883px;
}

.botagendar {
    position: absolute;
    width: 301.22px;
    height: 341px;
    left: 55px;
    top: 482px;
    background: #36CFC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E6FFFB;
}

.botsolicitar {
    position: absolute;
    width: 301.22px;
    height: 341px;
    left: 401.68px;
    top: 482px;
    /* Página laboratorio médico/50 */
    background: #36CFC9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E6FFFB;
}

.botresultados {
    position: absolute;
    width: 301.22px;
    height: 341px;
    left: 748.36px;
    top: 482px;
    /* Página laboratorio médico/50 */
    background: #36CFC9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E6FFFB;
}
.estado {
    position: absolute;
    width: 486px;
    height: 334px;
    left: 1353px;
    top: 482px;
    background: #36CFC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.estgen {
    position: absolute;
    width: 486px;
    height: 61px;
    left: 0px;
    top: 0px;
    /* Página laboratorio médico/70 */
    background: #08979C;
}

.feedback {
    position: absolute;
    width: 404px;
    height: 72px;
    left: 41px;
    top: 81px;
    /* Typography Laboratorio/Headers/SubHeader */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E6FFFB;
}
