body {
    background-size: cover;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Página laboratorio médico/10 */
    background: #E6FFFB;
}

#logoh {
    position: absolute;
    width: 195px;
    height: 51px;
    left: 61px;
    top: 6px;
}

#bannerP {
    position: absolute;
    width: 111px;
    height: 57px;
    left: 1684px;
    top: 3px;
}

.nomperfil {
    position: relative;
    width: 111px;
    height: 57px;
    top: 0px;
    left: 1625px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    text-align: right;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
    cursor: pointer;
    background-color: violet;
}

.caret {
    position: absolute;
    width: 30.76px;
    height: 28px;
    left: 1835.74px;
    top: 72px;
}

.subhP {
    position: absolute;
    width: 1920px;
    height: 33px;
    left: 0px;
    top: 67.05px;
    background: #36CFC9;
}

#carPac {
    position: absolute;
    width: 1920px;
    height: 349px;
    left: 0px;
    top: 100px;
}

#footerp {
    position: absolute;
    width: 1920px;
    height: 197px;
    left: 0px;
    top: 883px;
}

.botagendar {
    position: absolute;
    width: 301.22px;
    height: 341px;
    left: 55px;
    top: 482px;
    background: #36CFC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #E6FFFB;
    cursor: pointer;
}

.botagendar:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

.botsolicitar {
    position: absolute;
    width: 301.22px;
    height: 341px;
    left: 401.68px;
    top: 482px;
    /* Página laboratorio médico/50 */
    background: #36CFC9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #E6FFFB;
    cursor: pointer;
}

.botsolicitar:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

.botresultados {
    position: absolute;
    width: 301.22px;
    height: 341px;
    left: 748.36px;
    top: 482px;
    /* Página laboratorio médico/50 */
    background: #36CFC9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #E6FFFB;
    cursor: pointer;
}

.botresultados:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

.estado {
    position: absolute;
    width: 486px;
    height: 334px;
    left: 1353px;
    top: 422px;
    background: #36CFC9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.estgen {
    position: absolute;
    width: 486px;
    height: 61px;
    left: 0px;
    top: 0px;
    /* Página laboratorio médico/70 */
    background: #08979C;
}

.feedback {
    position: absolute;
    width: 404px;
    height: 72px;
    left: 41px;
    top: 81px;
    /* Typography Laboratorio/Headers/SubHeader */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E6FFFB;
}

#divinferior {
    position: relative;
    top: 3px;
    left: 1782px;
    width: 84px;
    height: 66px;
    background: #08979C;
}

.botperfil {
    position: absolute;
    width: 49px;
    height: 24px;
    left: 17px;
    top: 4px;
    background-color: transparent;
    border: transparent;
    /* Typography Laboratorio/Headers/SubHeader */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.botperfil:hover {
    color: #002329;
    transform: scale(1.1);
}

.botlogout {
    position: absolute;
    width: 49px;
    height: 24px;
    left: 12px;
    top: 38px;
    background-color: transparent;
    border: transparent;
    /* Typography Laboratorio/Headers/SubHeader */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Página laboratorio médico/10 */
    color: #E6FFFB;
}

.botlogout:hover {
    color: #002329;
    transform: scale(1.1);
}

#oficina {
    position: absolute;
    left: 82px;
    top: 10px;
}