body {
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #E6FFFB;
}

.logologin {
    position: absolute;
    width: 92px;
    height: 116px;
    left: 712px;
    top: 8px;
}

.layer {
    position: absolute;
    width: 486px;
    height: 123px;
    top: -3px;
    left: 760px;
}

.container {
    position: relative;
    width: 564px;
    height: 583px;
    left: 678px;
    top: 142px;
    /* Página laboratorio médico/70 */
    background: #08979C;
    border-radius: 47px;
}

#h1 {
    position: relative;
    width: 564px;
    height: 35px;
    left: 0px;
    top: 10px;
    /* Typography Laboratorio/Headers/H1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    /* or 121% */
    text-align: center;
    /* Página laboratorio médico/20 */
    color: #B5F5EC;
}

.fondo {
    position: absolute;
    width: 564px;
    height: 694px;
    left: 678px;
    top: 207px;
    /* Página laboratorio médico/20 */
    background: #B5F5EC;
    /* Página laboratorio médico/70 */
    border: 2px solid #08979C;
    box-sizing: border-box;
    border-radius: 0px 0px 47px 47px;
}

.entrada {
    width: 510px;
    height: 40px;
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

#nombreP {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 64px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

input:focus {
    border-color: #006D75;
    box-shadow: 0 1px 1px #08979C inset, 0 0 8px #08979C;
    outline: 0 none;
}

#documentoPR {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 133px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

#edadP {
    position: absolute;
    width: 242px;
    height: 40px;
    left: 27px;
    top: 202px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

#genP {
    position: absolute;
    width: 242px;
    height: 40px;
    right: 27px;
    top: 202px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#correoP {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 271px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

#telefonoP {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 340px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

#sangreP {
    position: absolute;
    width: 242px;
    height: 40px;
    left: 27px;
    top: 409px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

select:focus {
    border-color: #006D75;
    box-shadow: 0 1px 1px #08979C inset, 0 0 8px #08979C;
    outline: 0 none;
}

::placeholder {
    /* Subheading 16 / regular */
    position: relative;
    width: 466px;
    height: 24px;
    left: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.continuar {
    position: relative;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 616px;
    /* Cyan / 7 */
    background: #08979C;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
    /* drop-shadow / button-primary */
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    /* Character / Primary(inverse) */
    color: #FFFFFF;
    cursor: pointer;
}

.continuar:hover {
    background: #00474F;
    color: #E6FFFB;
    border-radius: 10px;
    box-shadow: 0 0 5px #5CDBD3, 0 0 25px #5CDBD3, 0 0 50px #5CDBD3, 0 0 100px #5CDBD3;
}

#contraP {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 478px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}

#confirmP {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 27px;
    top: 547px;
    /* Cyan / 6 */
    border: 1px solid #13C2C2;
    box-sizing: border-box;
}